TELEGRAM_BOT_TOKEN=<TELEGRAM_BOT_TOKEN>
OPENAI_API_KEY=<OPENAI_API_KEY>
JWT_SECRET_KEY=<JWT_SECRET_KEY>

MYSQL_ROOT_PASSWORD=<MYSQL_ROOT_PASSWORD>
MYSQL_DATABASE=<MYSQL_DATABASE>
MYSQL_USER=<MYSQL_USER>
MYSQL_PASSWORD=<MYSQL_PASSWORD>
MYSQL_PORT=<MYSQL_PORT>

DATABASE_URL=mysql+pymysql://<MYSQL_USER>:<MYSQL_PASSWORD>@mysql:<MYSQL_PORT>/<MYSQL_DATABASE>

ADMIN_USERNAME=<ADMIN_USERNAME>
ADMIN_PASSWORD=<ADMIN_PASSWORD>